<mat-toolbar color="primary">
  <span>NM New Issue</span>
  <span class="spacer"></span>
    <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="filter-form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter issues">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
<ng-container matColumnDef="index">
  <mat-header-cell *matHeaderCellDef></mat-header-cell>
  <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
</ng-container>
    <!-- ID Column -->
     <!--<ng-container matColumnDef="">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row" >1</mat-cell>
    </ng-container>-->

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rule Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="docid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DocId</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.docid}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="docautorecive">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DocAutoReceieved</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.docautorecive}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="scanningpath">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ScanningpathList</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.scanningpath}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="realpolicynum">
      <mat-header-cell *matHeaderCellDef mat-sort-header>IsItRealPolicyNumber</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.realpolicynum}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ispolicyactive">
      <mat-header-cell *matHeaderCellDef mat-sort-header>IsPolicyActive</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ispolicyactive}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="iscaseonwb">
      <mat-header-cell *matHeaderCellDef mat-sort-header>IsCaseOnWB</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.iscaseonwb}}</mat-cell>
    </ng-container>

     <ng-container matColumnDef="routingidtypelist">
      <mat-header-cell *matHeaderCellDef mat-sort-header>RoutingIDTypeList</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.routingidtypelist}}</mat-cell>
    </ng-container>

     <ng-container matColumnDef="lineofbusiness">
      <mat-header-cell *matHeaderCellDef mat-sort-header>LineOfBusiness</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lineofbusiness}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="internalstatusvalid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>InternalStatusValid</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.internalstatusvalid}}</mat-cell>
    </ng-container>
 
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.docid, row.docautorecive, row.scanningpath, row.realpolicynum, row.ispolicyactive, row.iscaseonwb, row.routingidtypelist, row.lineofbusiness, row.internalstatusvalid, row.internalstatusinvalid, row.casestatusvalid, row.casestatusinvalid, row.applicationtypevalid, row.applicationtypeinvalid, row.plan, row.replacementlist, row.fieldreporting, row.isunderwriterassigned, row.isunderwriteridvalid, row.unitcodevalid, row.unitcodeinvalid, row.notificationthrough, row.sharedworklistid, row.underwriterworkListid, row.processcoordinatormethod, row.documentroutingtype )">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
